.login--form{
    display: grid;
    grid-template-columns:2;
    grid-template-rows: 5;
    width: 400px;
    margin: auto;
    background-color:rgba(153, 190, 178, 0.432);
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
.login--title{
    grid-column: span 2;
    justify-self: center;
}
.login--emailLabel{
    justify-self: center;
  
}
.login--emailInput{
    margin-bottom: 5px;
}
.login--passwordLabel{
    justify-self: center;
}
.login--passwordInput{
    margin-bottom: 5px;
}

.login--submitBtn{
    grid-column: span 2;
}
.login--signUpText{
    grid-column: span 2;
}