.signUp--form{
    display: grid;
    width: 400px;
    margin: auto;
    background-color:rgba(153, 190, 178, 0.432);
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.signUp--title{
    grid-column: span 2;
    justify-self: center;
}
.signUp--emailLabel{
    justify-self: center;
  
}
.signUp--emailInput{
    margin-bottom: 5px;
}
.signUp--passwordLabel{
    justify-self: center;
}
.signUp--passwordInput{
    margin-bottom: 5px;
}
.signUp--passwordConfirmLabel{
    grid-column: 1;
    grid-row: 4;
}
.signUp--passwordConfirmInput{
    margin-bottom: 5px;
}
.signUp--submitBtn{
    grid-column: span 2;
}
.signUp--loginText{
    margin-top: 0px;
    grid-column: span 2;
}